<div class="single-page-container">
    @if (this.settingsForm) {
        <form class="local-settings-form" [formGroup]="this.settingsForm" (ngSubmit)="this.onSubmit()">
            <mat-form-field>
                <mat-label>Magnetic Variation</mat-label>
                <input matInput type="number" formControlName="magneticVariationDeg">
                <span matTextSuffix>deg</span>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Max Traffic Altitude</mat-label>
                <input matInput type="number" formControlName="maxTrafficAltitudeFt">
                <span matTextSuffix>ft AMSL</span>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Reserve Time</mat-label>
                <input matInput type="number" formControlName="reserveTimeMin">
                <span matTextSuffix>min</span>
            </mat-form-field>

            <div class="local-settings-actions">
                <button mat-stroked-button type="button" (click)="this.onCancelClicked()">Cancel</button>
                <button mat-flat-button color="primary" type="submit" [disabled]="this.settingsForm.invalid">Save</button>
            </div>
        </form>
    }

    <app-unit-settings></app-unit-settings>
</div>
