<div class="layer-selection-container">
    <!-- map bg -->
    <div class="layer-selection-section">
        <label id="mapbg-selection-radio-group-label" class="layer-selection-label">Map Background</label>
        <mat-radio-group
            (change)="this.onMapBgSelected($event)"
            aria-labelledby="mapbg-selection-radio-group-label"
            class="mapbg-selection-radio-group">
            @for (entry of this.mapLayerTypesAndDescriptions; track entry) {
                <mat-radio-button
                    class="mapbg-selection-radio-button"
                    value="{{ entry[0] }}"
                    [checked]="(this.baseMapType$ | async) === entry[0]"
                >
                    {{ entry[1] }}
                </mat-radio-button>
            }
        </mat-radio-group>
    </div>
    <!-- map layers -->
    <div class="layer-selection-section">
        <label id="mapfg-selection-radio-group-label" class="layer-selection-label">Map Layers</label>
        <mat-checkbox
            [checked]="(this.mapLayerVisibility$ | async)?.airportsNavaids"
            (change)="this.onMapLayerSelected(this.MapLayerType.AIRPORTS_NAVAIDS, $event)"
        >Airports / Navaids</mat-checkbox>
        <mat-checkbox
            [checked]="(this.mapLayerVisibility$ | async)?.reporting"
            (change)="this.onMapLayerSelected(this.MapLayerType.REPORTING, $event)"
        >Reporting Points / Sectors</mat-checkbox>
        <mat-checkbox
            [checked]="(this.mapLayerVisibility$ | async)?.circuits"
            (change)="this.onMapLayerSelected(this.MapLayerType.CIRCUITS, $event)"
        >AD Circuits</mat-checkbox>
        <mat-checkbox
            [checked]="(this.mapLayerVisibility$ | async)?.airspaces"
            (change)="this.onMapLayerSelected(this.MapLayerType.AIRSPACES, $event)"
        >Airspaces</mat-checkbox>
        <ul>
            <li>
                <mat-checkbox
                    [checked]="(this.mapLayerVisibility$ | async)?.airspaceCat"
                    (change)="this.onMapLayerSelected(this.MapLayerType.AIRSPACE_CAT, $event)"
                >Cat A-G</mat-checkbox>
            </li>
            <li>
                <mat-checkbox
                    [checked]="(this.mapLayerVisibility$ | async)?.airspaceGlider"
                    (change)="this.onMapLayerSelected(this.MapLayerType.AIRSPACE_GLIDER, $event)"
                >Glider</mat-checkbox>
            </li>
            <li>
                <mat-checkbox
                    [checked]="(this.mapLayerVisibility$ | async)?.airspaceRestricted"
                    (change)="this.onMapLayerSelected(this.MapLayerType.AIRSPACE_RESTRICTED, $event)"
                >P, D, X</mat-checkbox>
            </li>
        </ul>
        <mat-checkbox
            [checked]="(this.mapLayerVisibility$ | async)?.notams"
            (change)="this.onMapLayerSelected(this.MapLayerType.NOTAMS, $event)"
        >NOTAM</mat-checkbox>
        <mat-checkbox
            [checked]="(this.mapLayerVisibility$ | async)?.webcams"
            (change)="this.onMapLayerSelected(this.MapLayerType.WEBCAMS, $event)"
        >Webcams</mat-checkbox>
    </div>
</div>
